# Dependencies
node_modules/

# Builds
dist/
.tsbuildinfo

# Tests & coverage
coverage/
.nyc_output/
*.lcov

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*

# Editor/OS
.DS_Store
.idea/
.vscode/

# Changesets cache
.changeset/cache


